body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu:hover {
  color: rgb(223, 234, 238);
}

.menu {
  color: rgb(5, 5, 5);
  /* font-size: 25px; */
  float: left;
  padding: 0px 15px;
}

/*  */

#btn {
  background: rgba(247, 250, 252, 0.719);
  height: 50px;
  min-width: 150px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: "Cookie", cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

/* .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 50px;
  width: 10000px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
}

/*  */
.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgba(185, 153, 83, 0.438) 0%, rgb(4, 59, 66) 100%);
}

.inner-header {
  height: 55vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 200px;
  font-family: "Cookie", cursive;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 10vh;
  /* padding: 200px; */
  /* width: 200px; */
  text-align: left;
  background-color: rgb(255, 255, 255);
  /* font-family: "Cookie", cursive; */
  /* font-size: 50px; */
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* social */

.social a {
  color: rgb(8, 8, 8);
  font-size: 25px;
  margin: 25px;
}

.social a:hover {
  color: rgb(220, 235, 227);
}

/* contact */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #c3c1cb;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #050100;

  border: solid 1px #030100;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: linear-gradient(60deg, rgba(185, 153, 83, 0.438) 0%, rgb(4, 59, 66) 100%);
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #050300;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;

  border: solid 1px #070300;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: linear-gradient(60deg, rgba(185, 153, 83, 0.438) 0%, rgb(4, 59, 66) 100%);
  color: #e2dedb;
}

#submit {
  width: 502px;
  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  color: #050200;

  outline: none;
  cursor: pointer;

  border: solid 1px #050200;
  border-top: none;
}

#submit:hover {
  color: #f4f6f8;
}
